@font-face {
  font-family: BadaBoom;
  src: url(./fonts/aa_badaboom_bb.ttf);
}

@font-face {
  font-family: Merriweather Sans;
  src: url(./fonts/MerriweatherSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #05071A;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: Merriweather Sans;
  /* ---- particles.js container ---- */
}

body #background-imgs {
  max-height: 1836px;
}

body #background-imgs img {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: -2;
}

body #background-imgs img.bg_1 {
  top: 0;
}

body #background-imgs img.bg_2 {
  left: 0px;
  bottom: -756px;
}

body #background-imgs img.ch_1_left {
  width: 29.4%;
  left: 26px;
  top: 391px;
}

body #background-imgs img.ch_2_right {
  width: 30.8%;
  right: 28.64px;
  top: 360px;
}

body canvas {
  display: block;
  z-index: -10;
}

body #particles-js {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

body #main {
  text-align: center;
}

body #main .intro {
  text-align: center;
  width: 50ch;
  margin: 0 auto;
}

body #main .intro h2.hero-text {
  margin: 126.11px 0 12.08px;
  /* h2-desktop-cartoon */
  font-family: BadaBoom;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 100%;
  /* or 70px */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* yellow */
  color: #FCC211;
}

body #main .intro p {
  margin-bottom: 15.16px;
  /* h2-desktop-subtext */
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  /* white */
  color: #FFFFFF;
}

body #main .intro button {
  margin-bottom: 29.22px;
  width: 244px;
  height: 50px;
  color: #FFFFFF;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  background: none;
  background-image: url("./img/bg_buttons/Rectangle 192@2x red.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 100;
  -webkit-box-shadow: 0 0 0 0 rgba(235, 145, 9, 0.5), inset 0 0 0 rgba(235, 145, 9, 0.5);
          box-shadow: 0 0 0 0 rgba(235, 145, 9, 0.5), inset 0 0 0 rgba(235, 145, 9, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}

body #main .intro button:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

body #main .intro button:hover::before {
  content: url("./img/bg_buttons/Rectangle 192@2x red.svg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: pulse-shadow 1s infinite;
          animation: pulse-shadow 1s infinite;
}

body #main .great-winners {
  margin: 0 auto 21.54px auto;
  width: 47.19%;
  height: 376.52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main .great-winners .pedestal {
  height: 342.46px;
}

body #main .great-winners .pedestal.gold {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(255, 184, 74, 0.5)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.5) 100%);
  background-position: 50% -5%;
  background-size: 98% 73%;
  background-repeat: no-repeat;
  /* box-shadow */
  -webkit-filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
          filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

body #main .great-winners .pedestal.gold::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(80%, rgba(255, 184, 74, 0.5)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.5) 80%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: 50% -5%;
  background-size: 98% 73%;
  background-repeat: no-repeat;
  animation: breathe 1s ease-in-out infinite alternate-reverse;
}

body #main .great-winners .pedestal.silver {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(217, 208, 228, 0.4)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.4) 100%);
  background-position: 90% -5%;
  background-size: 97% 73%;
  background-repeat: no-repeat;
  /* box-shadow */
  -webkit-filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
          filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

body #main .great-winners .pedestal.silver::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(80%, rgba(217, 208, 228, 0.4)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.4) 80%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: 50% -5%;
  background-size: 98% 73%;
  background-repeat: no-repeat;
  animation: breathe 1s ease-in-out infinite alternate-reverse;
}

body #main .great-winners .pedestal.bronze {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(238, 202, 148, 0.4)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.4) 100%);
  background-position: 10% -5%;
  background-size: 97% 73%;
  background-repeat: no-repeat;
  /* box-shadow */
  -webkit-filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
          filter: drop-shadow(0px 5px 15px rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

body #main .great-winners .pedestal.bronze::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(80%, rgba(238, 202, 148, 0.4)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.4) 80%);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: 50% -5%;
  background-size: 98% 73%;
  background-repeat: no-repeat;
  animation: breathe 1s ease-in-out infinite alternate-reverse;
}

body #main .great-winners .pedestal .great-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}

body #main .great-winners .pedestal .great-icon img {
  position: absolute;
}

body #main .great-winners .pedestal .great-icon img.crown {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

body #main .great-winners .pedestal .great-icon img.shield {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

body #main .great-winners .pedestal .great-icon img.wings {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body #main .great-winners .pedestal .great-icon object.number_bg, body #main .great-winners .pedestal .great-icon object.number {
  position: absolute;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  height: 50px;
}

body #main .great-winners .pedestal .winner-data {
  width: 184.07px;
  height: 113.72px;
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main .great-winners .pedestal .winner-data object {
  position: absolute;
  z-index: -1;
}

body #main .great-winners .pedestal .winner-data .winner_name {
  height: 29.73px;
  width: 104.53px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

body #main .great-winners .pedestal .winner-data .winner_name.silver {
  background-color: #C7C7C7;
}

body #main .great-winners .pedestal .winner-data .winner_name.gold {
  background-color: #FCC211;
}

body #main .great-winners .pedestal .winner-data .winner_name.bronze {
  background-color: #BE8D69;
}

body #main .great-winners .pedestal .winner-data .results {
  width: 90%;
}

body #main .great-winners .pedestal .winner-data .results .bet {
  color: #FFFAF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

body #main .great-winners .pedestal .winner-data .results .win {
  color: #FCC211;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #main .top-winners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #main .top-winners h3 {
  /* h2-desktop-cartoon */
  font-family: BadaBoom;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 100%;
  /* or 70px */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* yellow */
  color: #FCC211;
}

body #main .top-winners .bg_fire {
  width: 59.16%;
}

body #main .top-winners table {
  margin-bottom: 27.27px;
  width: 59.16%;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

body #main .top-winners table tr {
  height: 45px;
}

body #main .top-winners table tr:hover {
  background-color: #FCC211;
}

body #main .top-winners table tr th {
  padding: 5px 0;
  font-weight: lighter;
}

body #main .top-winners table tr th span {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 38px;
}

body #main .top-winners table tr th span.gold {
  background-image: url(./img/icons/gold.svg);
  height: 35px;
  width: 35px;
}

body #main .top-winners table tr th span.silver {
  background-image: url(./img/icons/silver.svg);
  height: 35px;
  width: 35px;
}

body #main .top-winners table tr th span.bronze {
  background-image: url(./img/icons/bronze.svg);
  height: 35px;
  width: 35px;
}

body #main .top-winners button {
  width: 274px;
  height: 51px;
  color: #05071A;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  background: none;
  background-image: url("./img/bg_buttons/Rectangle 192@2x.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 0 rgba(235, 145, 9, 0.5), inset 0 0 0 rgba(235, 145, 9, 0.5);
          box-shadow: 0 0 0 0 rgba(235, 145, 9, 0.5), inset 0 0 0 rgba(235, 145, 9, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}

body #main .top-winners button:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

body #main .top-winners button:hover::before {
  content: url("./img/bg_buttons/Rectangle 192@2x.svg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: pulse-shadow 1s infinite;
          animation: pulse-shadow 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.1, 1.5);
            transform: scale(1.1, 1.5);
    opacity: 0;
  }
}

@keyframes pulse-shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.1, 1.5);
            transform: scale(1.1, 1.5);
    opacity: 0;
  }
}

@-webkit-keyframes breathe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes breathe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */