@font-face {
  font-family: BadaBoom;
  src: url(../assets/fonts/aa_badaboom_bb.ttf) format("truetype");
}

@font-face {
  font-family: Merriweather Sans;
  src: url(../assets/fonts/MerriweatherSans-VariableFont_wght.ttf) format("truetype");
}

@media screen and (max-width: 40em) and (orientation: portrait) {
  body #background-imgs img.bg_2 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  body #background-imgs img.ch_1_left {
    top: 15vh;
  }
  body #background-imgs img.ch_2_right {
    top: 15vh;
  }
  body #main .intro {
    width: 25ch;
  }
  body #main .intro h2.hero-text {
    margin: 29vh auto 10px;
    font-size: 45px;
  }
  body #main .intro p {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
  }
  body #main .intro button {
    margin-bottom: 2vw;
  }
  body #main .great-winners {
    margin: 0 auto;
    width: 90%;
    height: 390px;
  }
  body #main .great-winners .pedestal.gold {
    width: 28.86%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(255, 184, 74, 0.5)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.5) 100%);
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  body #main .great-winners .pedestal.gold::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(90%, rgba(255, 184, 74, 0.5)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.5) 90%);
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    animation: breathe 1s ease-in-out infinite alternate-reverse;
  }
  body #main .great-winners .pedestal.silver {
    width: 28.86%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(217, 208, 228, 0.4)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.4) 100%);
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  body #main .great-winners .pedestal.silver::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(90%, rgba(217, 208, 228, 0.4)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.4) 90%);
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    animation: breathe 1s ease-in-out infinite alternate-reverse;
  }
  body #main .great-winners .pedestal.bronze {
    width: 28.86%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(238, 202, 148, 0.4)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.4) 100%);
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  body #main .great-winners .pedestal.bronze::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), color-stop(90%, rgba(238, 202, 148, 0.4)));
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.4) 90%);
    border-radius: 5px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: 0.05vw 3.5em;
    background-size: 99% 50%;
    background-repeat: no-repeat;
    animation: breathe 1s ease-in-out infinite alternate-reverse;
  }
  body #main .great-winners .pedestal .great-icon {
    height: 45.75%;
    width: 90%;
  }
  body #main .great-winners .pedestal .winner-data {
    width: 100%;
    height: 123.72px;
  }
  body #main .great-winners .pedestal .winner-data .winner_name {
    width: 70%;
    font-size: 10px;
    -webkit-transform: translateY(-1.5vw);
            transform: translateY(-1.5vw);
  }
  body #main .great-winners .pedestal .winner-data .results {
    width: 80%;
    font-size: 2vw;
    margin-bottom: 100px;
  }
  body #main .great-winners .pedestal .winner-data .results .bet {
    margin-bottom: 2vw;
  }
  body #main .top-winners {
    width: 100%;
  }
  body #main .top-winners h3 {
    font-size: 8vw;
  }
  body #main .top-winners .bg_fire {
    width: 90%;
  }
  body #main .top-winners table {
    -webkit-transform: translateY(-3vw);
            transform: translateY(-3vw);
    width: 91%;
  }
  body #main .top-winners table tr th:first-child, body #main .top-winners table tr td:first-child {
    padding-left: 0;
  }
  body #main .top-winners table tr th:nth-last-child(3), body #main .top-winners table tr td:nth-last-child(3) {
    padding-left: 3vw;
  }
  body #main .top-winners table tr th:nth-last-child(2), body #main .top-winners table tr td:nth-last-child(2) {
    padding-right: 3vw;
  }
  * {
    pointer-events: none;
  }
}
/*# sourceMappingURL=responsive_mobile.css.map */